<header class="sticky-top z-3 bg-light section-nav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 d-md-none d-flex align-items-center px-sm-3 px-0">
        <a
          routerLink="/login"
          class="btn btn-link btn-lg rounded-0 border-end px-sm-3 px-2 my-1"
          rel="canonical"
        >
          <i class="bi bi-person-circle text-gray-800 fs-4"></i>
        </a>
        <button
          class="btn border-light dropdown-toggle d-flex justify-content-center align-items-center px-3 py-2"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img [src]="currFlag" class="me-2" />
        </button>
        <ul class="dropdown-menu rounded-0">
          <li
            (click)="changeLang(IT)"
            class="d-flex justify-content-between align-items-center px-3 py-2 cursor-pointer"
          >
            <div class="d-flex align-items-center">
              <img src="../../../assets/images/utilities/it.svg" />
              <span class="ms-2"
                >{{ 'Header.LANGUAGE_ITALY' | translate }}</span
              >
            </div>
            <img
              *ngIf="currFlag === '../../../assets/images/utilities/it.svg'"
              src="../../../assets/images/utilities/check.svg"
            />
          </li>
          <li
            (click)="changeLang(EN)"
            class="btn1 d-flex justify-content-between align-items-center px-3 py-2 cursor-pointer"
          >
            <div class="d-flex align-items-center">
              <img src="../../../assets/images/utilities/en.svg" />
              <span class="ms-2"
                >{{ 'Header.LANGUAGE_ENGLISH' | translate }}</span
              >
            </div>
            <img
              *ngIf="currFlag === '../../../assets/images/utilities/en.svg'"
              src="../../../assets/images/utilities/check.svg"
            />
          </li>
        </ul>
      </div>

      <div class="col-xxl-2 col-md-3 col-7 text-md-start text-center">
        <a
          routerLink="/"
          class="navbar-brand py-3 d-inline-block bg-light"
          rel="canonical"
        >
          <img
            src="../../../assets/images/logo-official.png"
            alt="Take2Me.it"
            className="img-fluid"
            width="195"
          />
        </a>
      </div>
      <div
        class="col-xxl-10 col-md-9 col-2 d-flex justify-content-end align-items-center px-sm-3 px-0"
      >
        <div
          class="d-md-flex d-none align-items-center border-start border-1 fix-h-50"
        >
          <a
            routerLink="/login"
            class="btn btn-link text-black text-decoration-none"
            rel="canonical"
          >
            <i class="bi bi-person-circle text-gray-800 fs-4"></i
            >&nbsp;&nbsp;ACCEDI
          </a>
        </div>
        <div
          class="d-md-flex d-none align-items-center border-start border-1 fix-h-50"
        >
          <button
            class="btn border-light dropdown-toggle d-flex justify-content-center align-items-center px-3 py-2"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img [src]="currFlag" class="me-2" />
          </button>

          <ul class="dropdown-menu rounded-0">
            <li
              (click)="changeLang(IT)"
              class="d-flex justify-content-between align-items-center px-3 py-2 cursor-pointer"
            >
              <div class="d-flex align-items-center">
                <img src="../../../assets/images/utilities/it.svg" />
                <span class="ms-2"
                  >{{ 'Header.LANGUAGE_ITALY' | translate }}</span
                >
              </div>
              <img
                *ngIf="currFlag === '../../../assets/images/utilities/it.svg'"
                src="../../../assets/images/utilities/check.svg"
              />
            </li>
            <li
              (click)="changeLang(EN)"
              class="d-flex justify-content-between align-items-center px-3 py-2 cursor-pointer"
            >
              <div class="d-flex align-items-center">
                <img src="../../../assets/images/utilities/en.svg" />
                <span class="ms-2"
                  >{{ 'Header.LANGUAGE_ENGLISH' | translate }}</span
                >
              </div>
              <img
                *ngIf="currFlag === '../../../assets/images/utilities/en.svg'"
                src="../../../assets/images/utilities/check.svg"
              />
            </li>
          </ul>
        </div>
        <div class="d-flex align-items-center border-start border-1 fix-h-50">
          <button class="btn btn-link position-relative">
            <i class="bi bi-basket3-fill text-green fs-3"></i>

            <span
              class="position-absolute translate-middle badge rounded-pill bg-leaf-500 total-products-cart"
            >
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
