<div class="row">
  <div class="offset-lg-1 col-lg-10 col-12 text-center">
    <h2 className="h1 font-breef">
      Accedi
      <a
        href="#col-registration-form"
        class="d-md-none d-inline text-success text-decoration-none"
      >
        o Registrati
      </a>
    </h2>
    <a routerLink="/login/azienda" class="link">
      Sei un azienda ? clicca qui !</a
    >
    <form class="pt-lg-5 pt-md-4 py-3">
      <div class="row">
        <div class="form-floating mb-3 col-12 col-xl-6">
          <input
            type="email"
            class="form-control rounded-0 focus"
            id="floatingEmail"
            placeholder="name@example.com"
            formControlName="email"
          />
          <label for="floatingEmail" class="mb-3">Email</label>
          <div
            *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
          >
            <small
              class="text-danger"
              *ngIf="loginForm.get('email')?.errors?.['required']"
              >Email obbligatoria</small
            >
            <small
              class="text-danger"
              *ngIf="loginForm.get('email')?.errors?.['email']"
              >Formato email non valido</small
            >
          </div>
        </div>
        <div class="form-floating mb-3 col-12 col-xl-6">
          <input
            type="password"
            class="form-control rounded-0 focus"
            id="floatingPassword"
            placeholder="Password "
            formControlName="password"
          />
          <label for="floatingPassword">Password</label>
          <div
            *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
          >
            <small class="text-danger">CAP non valido</small>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center pt-6">
    <button
      type="submit"
      class="rounded-0 btn btn-leaf-500 text-white button-border-success fw-semibold"
    >
      ACCEDI
    </button>
    <span class="d-lg-inline-block d-block px-2 py-lg-0 py-2">oppure</span>
    <button
      class="rounded-0 btn btn-warning text-white button-border-warning fw-semibold"
    >
      RESETTA PASSWORD
    </button>
  </div>
</div>
